<ul>
  <li
    *ngFor="let v of videoList | async"
    (click)="pickVideo(v)"
    [class.selected]="(selectedVideo | async)?.id === v.id"
  >
    <app-video-thumbnail [video]="v"></app-video-thumbnail>
  </li>
</ul>
